<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image Upload Form</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"
    integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO"
    crossorigin="anonymous"></script>


</head>


<body>
  <div id="root">
  </div>
  <!-- IO events -->
  <script>
    tasks = []

    const socket = io({ autoConnect: false });
    socket.on('result', async (data) => {
      if (data['status'] === 'completed') {
        const img = document.createElement('img')
        const response = await fetch(`/result?path=${data["output_means"]}`)
        const blob = await response.blob()
        let image = URL.createObjectURL(blob)
        img.src = image
        img.className = 'img-fluid w-50'
        document.getElementById(`${data['task_id']}_parent`).appendChild(img)
        document.getElementById(`${data['task_id']}_status`).innerHTML = data['status']
        tasks = tasks.filter(el => el != data['task_id'])
      } else {
        document.getElementById(`${data['task_id']}_status`).innerHTML = data['status']
      }
    });
    socket.on('timeout', (data) => {
      emit("result", data["task_id"])
    })
  </script>

  <script>
    /* function start_checker() {
      const toCheck = tasks.filter(el => (!["completed", "failed"].includes(el["status"])))
      if (toCheck.length == 0)
        return false
      Toastify({
        text: "Processing Images",
        duration: 3000,
        destination: null
      }).showToast();
      for (let i in toCheck) {
        socket.emit("status", tasks[i])
      }
      return true
    }
    setInterval(start_checker, 5000) */
  </script>

  <!-- Components  -->
  <script>
    const options = [
      { label: "Grayscale", value: "grayscale" },
      { label: "Edge Detection", value: "edge_detection" },
      { label: "Thresholding", value: "thresholding" },
      { label: "Inversion", value: "inversion" },
      { label: "Blurring", value: "blurring" },
      { label: "Sharpening", value: "sharpening" },
      { label: "Smoothing", value: "smoothing" },
      { label: "Dilation", value: "dilation" },
      { label: "Erosion", value: "erosion" },
      { label: "Convert RGB", value: "convert_RGB" },
    ];
    const CardItem = (count) => {
      return `    <table style="width: 100%;">
                    <tr>
                        <td class="w-50" >
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h5 class="mt-2 text-center align-center">&nbsp;</h5>
                                    <img class="img-fluid w-50 " id="${count}_input" alt="Image 1">
                                </div>
                            </div>
                        </td>
                          <td class="w-50" >
                            <div class="card mb-3">
                                <div class="card-body" id="${count}_parent">
                                    <h5 class="mt-2 text-center" id="${count}_status" >&nbsp;</h5>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
              `
    }

    const ImageUploadForm = () => {
      return `
        <form class="m-5" onSubmit="submitForm(event)">
          <fieldset>
            <legend>Image Processing App</legend>
            <div class="mb-3">
              <label class="form-label">Insert Images Here</label>
              <br />
              <input name="images" type="file" multiple id="ImgInput" class="form-control-file" />
            </div>
            <div class="mb-3">
              <div>Select Image processing Operation</div>
              <select name="process" class="form-select" aria-label="Default select example">
                ${options.map(option => `<option value="${option.value}">${option.label}</option>`).join('')}
              </select>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </fieldset>
          <br />
          <br />

            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Input Image</h5>
                  <ul id="inputImage" class="list-group list-group-flush"></ul>
                </div>
              </div>
            </div>
        </form>
      `;
    };

  </script>

  <!-- Root -->
  <script>

    const root = document.getElementById('root');

    async function submit_and_poll(id, formData) {
      const response = await fetch('/uploadOne', {
        method: 'POST',
        body: formData
      })
      //not clickable
      Toastify({
        text: "One Image Uploaded",
        duration: 3000,
        destination: null
      }).showToast();
      const data = await response.json()
      if (data.task_id ?? 0) {
        if (!socket.connected)
          socket.connect()
        tasks.push(data.task_id)
        socket.emit("status", data.task_id)
      }
    }

    async function submitForm(event) {
      event.preventDefault(); // Prevent the default form submission
      //upload in parallel
      let requets = []
      const formData = new FormData(event.target);
      let images = formData.getAll('images')
      process = formData.get('process')
      for (let i = 0; i < images.length; i++) {
        const image = images[i]
        const formData = new FormData()
        formData.append('image', image)
        formData.append('process', process)
        requets.push(submit_and_poll(i, formData))
      }
      let responses = await Promise.all(requets)
    }


    root.innerHTML = ImageUploadForm();
    document.getElementById('ImgInput').addEventListener('change', function (event) {
      const input = event.target;
      const images = document.getElementById('inputImage');
      images.innerHTML = '';
      let cards = ""
      for (let i = 0; i < input.files.length; i++) {
        images.innerHTML += CardItem(i)
        document.getElementById(`${i}_input`).src = URL.createObjectURL(input.files[i]);
      }
    });

  </script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>


</body>

</html>